<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detector</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav class="navigation">
        <div class="brand">
            <img src="{{ url_for('static', filename='images/news detect logo.png') }}" alt="" width="30px"
                height="30px">
            <div class="brandtext">NewsVerifier</div>
        </div>
        <div class="navoptions">
            <div class="option"><a href="#hero">Home</a></div>
            <div class="option">Add</div>
            <div class="option"><a href="">Contact us</a></div>
        </div>
    </nav>
    <main>
        <section id="hero" class="hero">
            <div class="herotext">Real or fake? Verify it now!</div>
            <form id="news-form" method="POST" action="/predict">
                <input type="text" name="headline" placeholder="Paste the news heading here" required>
                <div>
                <button type="submit">Verify</button>
                <button type="button">Add Extension</button>
                </div>
            </form>
            <div class="result">
                {% if prediction %}
                <div class="value">Prediction: {{ prediction }}</div>
                <div class="reason">You entered: "{{ headline }}"</div>
                {% endif %}
            </div>
            <div>Works only for the dataset in repository <a href="https://github.com/RaviPatel94/NewsVerifier" target="_blank">Github</a></div>
        </section>
    </main>
</body>

</html>
